ClienteSistemaTutorias/Connected Services/ServiceReferenceTutorias/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:59612/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:59612/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:59612/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServiciosTutorias.Modelo" />
      <xsd:import schemaLocation="http://localhost:59612/Service1.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/ServiciosTutorias" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IService1_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ObtenerUsuarios_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerUsuarios" />
  </wsdl:message>
  <wsdl:message name="IService1_ObtenerUsuarios_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerUsuariosResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IService1_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_LoginPrueba_InputMessage">
    <wsdl:part name="parameters" element="tns:LoginPrueba" />
  </wsdl:message>
  <wsdl:message name="IService1_LoginPrueba_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginPruebaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_recuperarProblematicasSinSolucion_InputMessage">
    <wsdl:part name="parameters" element="tns:recuperarProblematicasSinSolucion" />
  </wsdl:message>
  <wsdl:message name="IService1_recuperarProblematicasSinSolucion_OutputMessage">
    <wsdl:part name="parameters" element="tns:recuperarProblematicasSinSolucionResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_registrarSolucion_InputMessage">
    <wsdl:part name="parameters" element="tns:registrarSolucion" />
  </wsdl:message>
  <wsdl:message name="IService1_registrarSolucion_OutputMessage">
    <wsdl:part name="parameters" element="tns:registrarSolucionResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_asignarSolucion_InputMessage">
    <wsdl:part name="parameters" element="tns:asignarSolucion" />
  </wsdl:message>
  <wsdl:message name="IService1_asignarSolucion_OutputMessage">
    <wsdl:part name="parameters" element="tns:asignarSolucionResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_obtenerComentarios_InputMessage">
    <wsdl:part name="parameters" element="tns:obtenerComentarios" />
  </wsdl:message>
  <wsdl:message name="IService1_obtenerComentarios_OutputMessage">
    <wsdl:part name="parameters" element="tns:obtenerComentariosResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_realizarCambiosComentarios_InputMessage">
    <wsdl:part name="parameters" element="tns:realizarCambiosComentarios" />
  </wsdl:message>
  <wsdl:message name="IService1_realizarCambiosComentarios_OutputMessage">
    <wsdl:part name="parameters" element="tns:realizarCambiosComentariosResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_recuperarTutoradosPorTutor_InputMessage">
    <wsdl:part name="parameters" element="tns:recuperarTutoradosPorTutor" />
  </wsdl:message>
  <wsdl:message name="IService1_recuperarTutoradosPorTutor_OutputMessage">
    <wsdl:part name="parameters" element="tns:recuperarTutoradosPorTutorResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_obtenerSesiones_InputMessage">
    <wsdl:part name="parameters" element="tns:obtenerSesiones" />
  </wsdl:message>
  <wsdl:message name="IService1_obtenerSesiones_OutputMessage">
    <wsdl:part name="parameters" element="tns:obtenerSesionesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_registrarHorarioSesion_InputMessage">
    <wsdl:part name="parameters" element="tns:registrarHorarioSesion" />
  </wsdl:message>
  <wsdl:message name="IService1_registrarHorarioSesion_OutputMessage">
    <wsdl:part name="parameters" element="tns:registrarHorarioSesionResponse" />
  </wsdl:message>
  <wsdl:message name="IAcademico_registrarProfesor_InputMessage">
    <wsdl:part name="parameters" element="tns:registrarProfesor" />
  </wsdl:message>
  <wsdl:message name="IAcademico_registrarProfesor_OutputMessage">
    <wsdl:part name="parameters" element="tns:registrarProfesorResponse" />
  </wsdl:message>
  <wsdl:message name="IAcademico_recuperarRoles_InputMessage">
    <wsdl:part name="parameters" element="tns:recuperarRoles" />
  </wsdl:message>
  <wsdl:message name="IAcademico_recuperarRoles_OutputMessage">
    <wsdl:part name="parameters" element="tns:recuperarRolesResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetData" message="tns:IService1_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataResponse" message="tns:IService1_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerUsuarios">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ObtenerUsuarios" message="tns:IService1_ObtenerUsuarios_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ObtenerUsuariosResponse" message="tns:IService1_ObtenerUsuarios_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContract" message="tns:IService1_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContractResponse" message="tns:IService1_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Login" message="tns:IService1_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/LoginResponse" message="tns:IService1_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoginPrueba">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/LoginPrueba" message="tns:IService1_LoginPrueba_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/LoginPruebaResponse" message="tns:IService1_LoginPrueba_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="recuperarProblematicasSinSolucion">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/recuperarProblematicasSinSolucion" message="tns:IService1_recuperarProblematicasSinSolucion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/recuperarProblematicasSinSolucionResponse" message="tns:IService1_recuperarProblematicasSinSolucion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="registrarSolucion">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/registrarSolucion" message="tns:IService1_registrarSolucion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/registrarSolucionResponse" message="tns:IService1_registrarSolucion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="asignarSolucion">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/asignarSolucion" message="tns:IService1_asignarSolucion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/asignarSolucionResponse" message="tns:IService1_asignarSolucion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="obtenerComentarios">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/obtenerComentarios" message="tns:IService1_obtenerComentarios_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/obtenerComentariosResponse" message="tns:IService1_obtenerComentarios_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="realizarCambiosComentarios">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/realizarCambiosComentarios" message="tns:IService1_realizarCambiosComentarios_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/realizarCambiosComentariosResponse" message="tns:IService1_realizarCambiosComentarios_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="recuperarTutoradosPorTutor">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/recuperarTutoradosPorTutor" message="tns:IService1_recuperarTutoradosPorTutor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/recuperarTutoradosPorTutorResponse" message="tns:IService1_recuperarTutoradosPorTutor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="obtenerSesiones">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/obtenerSesiones" message="tns:IService1_obtenerSesiones_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/obtenerSesionesResponse" message="tns:IService1_obtenerSesiones_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="registrarHorarioSesion">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/registrarHorarioSesion" message="tns:IService1_registrarHorarioSesion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/registrarHorarioSesionResponse" message="tns:IService1_registrarHorarioSesion_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IAcademico">
    <wsdl:operation name="registrarProfesor">
      <wsdl:input wsaw:Action="http://tempuri.org/IAcademico/registrarProfesor" message="tns:IAcademico_registrarProfesor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAcademico/registrarProfesorResponse" message="tns:IAcademico_registrarProfesor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="recuperarRoles">
      <wsdl:input wsaw:Action="http://tempuri.org/IAcademico/recuperarRoles" message="tns:IAcademico_recuperarRoles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAcademico/recuperarRolesResponse" message="tns:IAcademico_recuperarRoles_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IService1/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerUsuarios">
      <soap:operation soapAction="http://tempuri.org/IService1/ObtenerUsuarios" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IService1/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IService1/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginPrueba">
      <soap:operation soapAction="http://tempuri.org/IService1/LoginPrueba" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="recuperarProblematicasSinSolucion">
      <soap:operation soapAction="http://tempuri.org/IService1/recuperarProblematicasSinSolucion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="registrarSolucion">
      <soap:operation soapAction="http://tempuri.org/IService1/registrarSolucion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="asignarSolucion">
      <soap:operation soapAction="http://tempuri.org/IService1/asignarSolucion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerComentarios">
      <soap:operation soapAction="http://tempuri.org/IService1/obtenerComentarios" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="realizarCambiosComentarios">
      <soap:operation soapAction="http://tempuri.org/IService1/realizarCambiosComentarios" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="recuperarTutoradosPorTutor">
      <soap:operation soapAction="http://tempuri.org/IService1/recuperarTutoradosPorTutor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerSesiones">
      <soap:operation soapAction="http://tempuri.org/IService1/obtenerSesiones" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="registrarHorarioSesion">
      <soap:operation soapAction="http://tempuri.org/IService1/registrarHorarioSesion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_IAcademico" type="tns:IAcademico">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="registrarProfesor">
      <soap:operation soapAction="http://tempuri.org/IAcademico/registrarProfesor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="recuperarRoles">
      <soap:operation soapAction="http://tempuri.org/IAcademico/recuperarRoles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:59612/Service1.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_IAcademico" binding="tns:BasicHttpBinding_IAcademico">
      <soap:address location="http://localhost:59612/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>