ClienteSistemaTutorias/Connected Services/ServiceReferenceIPeriodoEscolarMgt/IPeriodoEscolarMgt.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:59612/IPeriodoEscolarMgt.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServiciosTutorias.Modelo" />
  <xs:element name="ObtenerPeriodosEscolares">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerPeriodosEscolaresResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ServiciosTutorias.Modelo" minOccurs="0" name="ObtenerPeriodosEscolaresResult" nillable="true" type="q1:ArrayOfPeriodoEscolar" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>